
/* Main Styles */

.main-style {
    color: lightsalmon;
    font-size: 20px;
    font-family: Arial; 
    text-align: center;
    background-image: url(../images/Plain-Dark-Gray-Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h3 {
    color:darkorange;
    font-style: italic;
}
.basic-list {
    text-align: left;
    margin-left: 25%;
    margin-right: 20%;
    color: lightblue;
}
.main-link {
    font-size: 24px;
    color: lightblue;
    font-style: bold;
}
.secondary-link {
    font-size: 22px;
    color:cyan;
    font-style: italic;
}
li a.secondary-link:hover {
    background-color: yellowgreen;
}
.price {
    font-size: 26px;
    color: yellow;
    font-weight: bold;
}
.price:hover {
    font-size: 26px;
    color: goldenrod;
    font-weight: bolder;
}

/* Dropdown List */

.dropdown-menu li a:hover {
    background-color: limegreen;
}
.dropdown-menu label {
    color:darkgoldenrod;
    font-style: italic;
    font-size: 1.5rem;
}
.dropdown-menu {
    position: relative; 
    height: 9em;
}
.dropdown-menu input, .dropdown-menu ul { 
    display: none;
}
.dropdown-menu label {
    cursor: pointer; 
}
.dropdown-menu ul {
    position: absolute;
    top: 25px;
    left: 30%;
}
.dropdown-menu :checked ~ ul {
    display: inline-block;
}
.dropdown-list {
    text-align: left;
    margin-top: 7.5px;
    margin-right: 15%;
    color: lightblue;
}

/* 
div.other-products {
    background-color: lightsteelblue;
    border: steelblue solid 3px;
    min-width: 400px;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
div.product {
    margin: 10px;
    border: gray solid 3px;
    background-color: white;
    width: 350px;
    height: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.product p {
    font-weight: bold;
    color: lime;
}
div.product p:first-child {
    margin-top: 90%;
}

div.product:hover {
    border:red double 7px;
}
div#image1 {
    background-image: url(../images/Phone.png);
    background-size: 8em;
}
div#image2 {
    background-image: url(../images/socks.jpg);
    background-size: 13em;
    background-position: center 25px;
}
div#image3 {
    background-image: url(../images/mystery_box.jpg);
    background-size: 13em;
    background-position: center 25px;
}
div#image4 {
    background-image: url(../images/bleach.jpeg);
    background-size: 11em;
    background-position: center 45px;
}
div#image5 {
    background-image: url(../images/chocolate.jpg);
    background-size: 13em;
    background-position: center 20px;
}
div#image6 {
    background-image: url(../images/gun.jpg);
    background-size: 13em;
    background-position: center 25px;
} */

/* Other Products */

div.other-products2 {
    background-color: lightsteelblue;
    border: steelblue solid 3px;
    min-width: 425px;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
div.gallery-columns {
    column-gap: 20px;
    column-width: 400px;
}
div.product2 {
    margin: 10px;
    border: gray solid 3px;
    background-color: white;
    width: 350px;
    height: 400px;
    display: inline-block;
    font-weight: bold;
    color: lime;
}
div.product2:hover {
    border:red double 7px;
}
div.product2 img {
    max-height: 225px;
}

/* Text Wall */

.background-wide-bee {
    background-image: url(../images/butwhy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.textwall-style {
    color: darkslategray;
    font-size: 20px;
    background-color: lightgray; 
    font-family: Arial; 
    margin-left: 25%;
    margin-right: 25%;
}
h3, section, p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px;
}
.hidden-message {
    display: none;
}

/* Reviews */

/* .actual-reviews {
    position: absolute;
    left: 120px;
    top: 25px;
    display: inline-block;
    width: 40%;
}
.reviews-other-stuff {
    position: absolute;
    right: 50px;
    top: 25px;
    display: inline-block;
    width: 40%;
} */

.reviews {
    column-count: 2;
}

.fixed-menu {
    position: fixed;
    top: 25px;
    width: 100px;
    min-height: 150px;
    border: greenyellow 3px solid;
    background-color: honeydew;
    margin-top: 0.25rem;
    padding: 0.75rem;
}
.fixed-menu a {
    color: red;
    font-size: 20px;
}
.advanced-list {
    text-align: left;
    color: yellowgreen;
}

.not-bootstrap-just-a-card-list {
    text-align: left;
    color: blueviolet;
}
/* Cat gallery */

.the-cat-box {
    background-color: lightskyblue;
    display: flex;
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px darkred solid;
}

.the-cat-box div {
    text-align: center;
    margin: 8px;
}
.the-cat-box div img {
    height: 300px;
    max-width: 400px;
}

nav .fa-bars {
    display: none;
    color: green;
}
/* Mobile Phone Version and stuff */

@media (max-width: 1225px) {
    /* Reviews and all of that */
    .reviews {
        column-count: 1;
    }
    div.reviews-other-stuff video {
        max-height: 400px;
        width: 75%;
    }
    nav.reviews-nav {
        position: fixed;
        top: 0.5rem;
        left: 0.5rem;
    }
    nav.reviews-nav .fa-bars {
        display: block;
        text-align: left;
    }
    nav.reviews-nav div.fixed-menu {
        display: none;
    }
    nav.reviews-nav:hover div.fixed-menu {
        position: relative;
        display: block;
        top: 0.5rem;
        left: 1rem;
    }
    
    audio {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    /* Main Menu */
    .main-image {
        width: 85%;
    }
    .dropdown-menu {
        height: 13em;
    }
    .dropdown-menu ul {
        left: 10%;
    }
    .dropdown-menu ul a{
        font-size: 18px;
        line-height: 1.5;
    }
    .main-style {
        font-size:smaller;
        line-height: 1.5;
    }
    /* Cat Gallery */
    .the-cat-box {
        margin-left: 0%;
        width: 100%;
    }
    .the-cat-box div img {
        max-width: 300px;
    }
    /* Text Wall */
    .textwall-style {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
    .hidden-message {
        display: block;
    }
}

@media (max-width: 600px) {
    /* Gallery */
    div.other-products2 {
        margin-left: 0%;
        margin-right: 0%;
        min-width: 200px;
    }
    div.product2 {
        width: 75%;
    }

    
    .basic-list {
        margin-left: 5%;
    }
}